<div class="row justify-content-end">
  <div class='col-md-4'>
    <div class='container'>
      <div class='col'>
        <h4>Contactos</h4>
        <form class="form-inline my-2 my-lg-0" id='search'>
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" name="search"> 
        </form>
      </div>
      <div  id="users">
        <ul class='list-contact'>
          <%= render @users %>
        </ul>
      </div>
      <div class='button-index-chat'>
        <%= link_to 'New Chat', chat_rooms_path, class:'btn btn-primary' %>
        <%= link_to 'Chats', chat_rooms_path, class:'btn btn-primary' %>
      </div>
    </div>
  </div>

  
  <div class="col-md-8" data-marker="<%= @hash %>" id="puntos">
    <%= render 'users/googlemap' %>
  </div>
</div>

<script>
  $("[name=search]").keyup(function(event) {
    $.ajax({
    url:"<%= root_path %>",
    type:'GET',
    dataType:'script',
    data: {search: $(this).val()}
    })
    .done(function(){
        console.log("success");
    })
    .fail(function(){
        console.log("error");
    })
    .always(function(){
        console.log("complete");
    });
  })
</script>