<!DOCTYPE html>
<html>
  <head>
    <title>Wordapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', 'confirmation', 'session',  media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBwl5chO-5r9FaxNOIfltMfAnXhwwdTPH0" type="text/javascript"></script>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <!--
    <div class='container'> 
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>-->
      <%= yield %>
  </body>
</html>
